/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole menù principale */
header{
  /* debug *
  background-color: green;
  height: 150px;
  /* fine debug */
}
nav{
  position: relative;
  padding: 15px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: bold;
  /* debug *
  background-color: yellow;
  height: 50%;
  /* fine debug */
}
/* nav top sinistro */
.navsx{
  display: inline-block;
}
a.king{
  text-decoration: none;
  color: black;
  margin: 10px;
}
a:hover{
  text-decoration: underline;
}
a > img{
  height: 13px;
  width: 13px;
}
#contactnav{
  padding: 10px;
}
/* nav top destro */
.navdx{
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 10px;
  margin-right: 10px;
}
button{
  margin-left: 5px;
  border-radius: 10px;
  padding: 5px;
  background-color: orange;
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* nav inferiore */
.menu{
  padding: 10px;
  border-top: 1px solid black;
  position: relative;
}
img#homelogo{
  height: auto;
  width: 110px;
}
.menusx{
  display: inline-block;
  margin-left: 20px;
}
.menudx{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 1px;
  padding: 10px;
}
ul > li{
  display: inline-block;
  padding: 5px;
}
li > img{
  width: 10px;
  height: 10px;
}
li > a{
  text-decoration: none;
  color: black;
}
/* regole main page */
main{
  /* debug *
  background-color: red;
  min-height: 800px;
  /* fine debug */
}
.homepage{
  height: 695px;
  background-image: url(../img/img/jumbotron.png);
}
.homepage > div{
  /* debug */
  background-color: white;
  height: 60%;
  width: 400px;
  /* fine debug */
}
.mid{
  padding: 10px 0 ;
  /* background-color: #F5F8FA; */
  background-color: red;
  /* debug *
  height: 800px;
  /* fine debug */
}
.container > div{
  margin-bottom: 20px;
  /* debug */
  height: 400px;
  background-color: blue;
  /* fine debug */
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.sx, .cx, .dx{
  float: left;
  /* debug */
  width: 30%;
  height: 100%;
  background-color: yellow;
  /* fine debug */
}
.cx{
  margin: 0 5%;
}

/* regole section data */
.data{
  padding: 10px 0 ;
  background-color: #00B7AB;
  /* debug *
  height: 800px;
  /* fine debug */
}
.graphic{
  padding:20px 0 40px;
}
.row{
  height: 50%;
  /* debug */
  background-color: white;
  border: 1px solid black;
  /* fine debug */
}
.numbers{
  float: left;
  width: 25%;
  /* debug */
  height: 100%;
  background-color: red;
  /* fine debug */
}

/* regole setion bottom */
.bot{
  padding: 10px 0 ;
  background-color: rgb(255, 255, 255);
  /* debug *
  background-color: yellow;
  height: 600px;
  /* fine debug */
}
.couple{
  margin: 20px 0;
  /* debug */
  height: 200px;
  background-color: green;
  /* fine debug */
}
.customers{
  width: 30%;
  display: inline-block;
  /* debug */
  height: 100%;
  background-color: violet;
  /* fine debug */
}
.partners{
  width: 69%;
  display: inline-block;
  /* debug */
  height: 100%;
  background-color: pink;
  /* fine debug */
}
.getfree{
  width: 69%;
  display: inline-block;
  /* debug */
  height: 100%;
  background-color: pink;
  /* fine debug */
}
.woman{
  width: 30%;
  display: inline-block;
  /* debug */
  height: 100%;
  background-color: violet;
  /* fine debug */
}

/* regole footer */
footer{
  padding: 10px 0 ;
  background-color: rgb(50, 73, 91);
  /* debug */
  height: 500px;
  /* fine debug */
}




/* contenitore che delimitano i margini */
.container{
  margin: 0 140px;
}
.contain{
  margin: 0 140px;
}
