/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* contenitore che delimita i margini della pagina */
.contain{
  margin: 0 140px;
}

/* regola clearfix x elementi flottati */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* regole menù principale */
header{
  /* debug *
  background-color: green;
  height: 150px;
  /* fine debug */
}
.menubgtop{
  background-color: rgb(244, 249, 253);
  border-bottom: 1px solid rgb(50, 73, 91);
}
nav{
  padding: 15px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: bold;
  /* debug *
  background-color: yellow;
  height: 50%;
  /* fine debug */
}

/* nav top sinistro */
.navsx{
  float:left;
}
a.king{
  text-decoration: none;
  color: black;
  margin: 10px;
}
a:hover{
  text-decoration: underline;
}
a > img{
  height: 13px;
  width: 13px;
}
#contactnav{
  padding: 10px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/* nav top destro */
.navdx{
  float: right;
  margin-right: 10px;
}
button{
  color: white;
  margin-left: 5px;
  border-radius: 10px;
  padding: 5px;
  background-color: orange;
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* nav inferiore */
.menu{
  padding: 10px;
}
img#homelogo{
  height: auto;
  width: 110px;
}
.menusx{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
.menudx{
  float: right;
  padding: 10px;
}
ul > li{
  display: inline-block;
  padding: 5px;
}
li > img{
  width: 10px;
  height: 10px;
}
li > a{
  text-decoration: none;
  color: black;
}

/* regole main page */
main{
  /* debug *
  background-color: red;
  min-height: 800px;
  /* fine debug */
}

/* regole parte superiore homepage */
.homepage{
  height: 695px;
  background-image: url(../img/img/jumbotron.png);
}
.homepage .payoff{
  padding: 30px 0 30px 10px;
  width: 580px;
  /* debug *
  border: 1px solid black;
  background-color: white;
  height: 60%;
  /* fine debug */
}
h1{
  font-size: 80px;
  font-family: 'Markazi Text', serif;
  font-weight: 700 bold;
}
#subtitlehomepage{
  font-size: 20px;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
}
/* regole bottone homepage */
.payoff > button{
  color: white;
  margin-top: 15px;
  padding: 20px;
  background-color: orange;
  font-size: 25px;
  cursor: pointer;
}
#underbutton{
  margin-top: 15px;
  font-size: 14px;
  font-family: 'Markazi Text', serif;
}


/* regole parte centrale */
.mid{
  background-color: #F5F8FA;
  /* debug *
  height: 800px;
  /* fine debug */
}

/* sezione in cui c'è immagine cubo */
.cubesector{
  padding-top: 100px;
  text-align: center;
}
.cubesector > img{
  width: 263px;
  height: auto;
}
h3{
  font-size: 50px;
  font-weight: 400 bold;
  font-family: 'Markazi Text', serif;
  margin-bottom: 20px;
}
.cubesector > p{
  font-size: 20px;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  max-width: 800px;
  margin: auto;
  padding-bottom: 30px;
}

/* sezione CRM */
.CRM{
  background-color: white;
  padding: 30px 50px;
  margin-bottom: 30px;
}
.crmillustration{
  float: left;
  max-width: 30%;
}
.crmtext{
  float: right;
  max-width: 70%;
}
.CRM img{
  width: 200px;
  height: auto;
}
/* regole bottone Learn More */
.Learn{
  display: block;
  color: white;
  margin-top: 15px;
  border-radius: 10px;
  padding: 15px;
  background-color: orange;
  font-family: 'Markazi Text', serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.CRM button{
  margin: auto;
  margin-top: 20px;
}
/* regole sotto contenitori crmtext */
h4{
  font-size: 35px;
  font-weight: 400 bold;
  font-family: 'Markazi Text', serif;
  margin-bottom: 20px;
}
.crmtext > p, span{
  font-size: 18px;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  margin-bottom: 20px;
}
h5{
  font-weight: 400 bold;
  font-family: 'Markazi Text', serif;
  font-size: 22px;
  margin-top: 20px;
}
img.check{
  background-color: red;
  border-radius: 50%;
  padding: 2px;
  margin: 10px 3px 0 0;
  width: 12px;
  height: 12px;
}
.crmtext .inline{
  display: inline-block;
}
.inline > span{
  margin-right: 10px;
}

/* parte più inferiore della sezione mid */
.rectangle{
  text-align: center;
  margin: 10px 20px;
  /* debug *
  min-height: 300px;
  background-color: blue;
  /* fine debug */
}
.hub{
  margin-top: 10px;
  width: 150px;
  height: 150px;
}
h4 + p{
  font-size: 18px;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
}
.rectangle > p,h5{
  margin-bottom: 20px;
}
.uncenter{
  font-size: 14px;
  text-align: left;
}
.learnmore{
  color: white;
  margin: 15px 0;
  border-radius: 10px;
  padding: 15px;
  background-color: orange;
  font-family: 'Markazi Text', serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.sx, .cx, .dx{
  float: left;
  width: 30%;
  background-color: white;
  /* debug *
  height: 100%;
  background-color: yellow;
  /* fine debug */
}
.cx{
  margin: 0 5%;
}


/* regole section data */
.data{
  background-color: #00B7AB;
  /* debug *
  height: 800px;
  /* fine debug */
}
.datatitle{
  padding-top: 30px;
  text-align: center;
  color: white;
}
h2{
  font-size: 65px;
  font-family: 'Markazi Text', serif;
  font-weight: 700;
}
.datatitle > p{
  font-size: 20px;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
}

/* grafico della sezione dati */
.graphic{
  padding:40px 0 40px 0;
}
.row{
  /* debug *
  background-color: white;
  border: 1px solid black;
  height: 50%;
  /* fine debug */
}
.numbers{
  float: left;
  width: 25%;
  /* debug *
  height: 100%;
  background-color: red;
  /* fine debug */
}
.icon{
  padding-bottom: 10px;
  color: white;
  height: 100%;
  width:100%;
  text-align: center;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.icone{
  padding-bottom: 10px;
  color: white;
  height: 100%;
  width:100%;
  text-align: center;
  border-right: 1px solid white;
}
.icon.special, .icone.special{
  border-right: 0;
}
.icon > img{
  padding-top: 20px;
  height: 50px;
  width: 50px;
}
.icone > img{
  padding-top: 20px;
  height: 50px;
  width: 50px;
}

/* regole setion bottom */
.bot{
  padding: 10px 0 ;
  background-color: rgb(255, 255, 255);
  /* debug *
  background-color: yellow;
  height: 600px;
  /* fine debug */
}
.couple{
  margin: 50px 0;
  /* debug *
  height: 200px;
  background-color: green;
  /* fine debug */
}
.customers{
  width: 30%;
  float: left;
  text-align: center;
  /* debug *
  height: 100%;
  background-color: violet;
  /* fine debug */
}
.partners{
  width: 70%;
  float: right;
  /* debug *
  height: 100%;
  background-color: pink;
  /* fine debug */
}
.partner{
  float: left;
  width: 25%;
  margin: auto;
  text-align: center;
  padding: 15px 0;
}
.getfree{
  width: 60%;
  float: left;
  padding-left: 10px;
  /* debug *
  height: 100%;
  background-color: pink;
  /* fine debug */
}
.getfree > button{
  margin: 20px 0;
  font-size: 18px;
  padding: 15px;
}
.woman{
  width: 40%;
  float: right;
  position: relative;
  /* debug *
  height: 100%;
  background-color: violet;
  /* fine debug */
}
.woman > img{
  width: 60%;
  height: auto;
  float: right;
  right: 20px;
}

/* regole footer */
footer{
  padding: 10px 0 ;
  background-color: rgb(50, 73, 91);
  /* debug *
  height: 500px;
  /* fine debug */
}
.footlist{
  float: left;
  width: 25%;
  margin-top: 20px;
}
.footlist > ul{
  font-size: 16px;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  color: white;
}
.footlist ul > li{
  display: block;
}
.footlist ul li:first-child{
  font-size: 25px;
  font-weight: bold;
}
.footlist a{
  color: white;
}
.footlist a:visited{
  color: pink;
}
#specbut{
  color: rgb(50, 73, 91);
  padding: 6px;
  background-color: lightgrey;
  font-family:'Markazi Text', serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0;
  border-style: none;
}
#social > a{
  width: 20%;
  margin-right: 12px;
  text-decoration: none;
}
#social img{
  height: 16px;
  width: 16px;
}
.credits{
  position: relative;
}
.footlanguage{
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.footlanguage > div{
  text-align: center;
}
.footlanguage a{
  color: white;
}

/* crediti, privacy e diritti legali */
.footerlogo{
  margin-top: 30px;
  display: inline-block;
}
.footerlogo > img{
  width: 110px;
  height: auto;
  background-color: white;
  padding: 5px;
}
.footerlegal{
  position: absolute;
  margin-top: 30px;
  display: inline-block;
  right: 0;
}
.footerlegal > a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
}
.footerlegal > a:hover{
  text-decoration: underline;
}
